<div class="button-container">
  <button>Pick a Schedule</button>
</div>
<br />
<div class="picker">
  <ul class="picker-day" (wheel)="onScroll($event, 'day')">
    <li *ngFor="let day of days">{{ day }}</li>
  </ul>
  <ul class="picker-hour" (wheel)="onScroll($event, 'hour')">
    <li *ngFor="let month of months">{{ month }}</li>
  </ul>
  <ul class="picker-minute" (wheel)="onScroll($event, 'minute')">
    <li *ngFor="let year of years">{{ year }}</li>
  </ul>
</div>
<input
  pInputText
  type="text"
  class="p-inputtext-sm w-20rem mt-5 ml-5 mb-5"
  [ngModel]="this.selectedDay + ' ' + this.selectedMonth + ' ' + this.selectedYear"
  value="this.selectedDay + ' ' + this.selectedMonth + ' ' + this.selectedYear"
/>