<div class="button-container">
  <button>Pick a Schedule</button>
</div>
<br />
<div class="picker">
  <div class="picker-window"></div>
  <div class="triangle"></div>
  <ul class="picker-day" (mouseover)="day($event)">
    <li [value]="day" *ngFor="let day of days">{{ day }}</li>
  </ul>
  <ul class="picker-hour" (mouseover)="month($event)">
    <li [value]="month.value" *ngFor="let month of months">{{ month.name }}</li>
  </ul>
  <ul class="picker-minute" (mouseover)="year($event)">
    <li [value]="year.value" *ngFor="let year of years">{{ year.name }}</li>
  </ul>
</div>
<input
  pInputText
  type="text"
  class="p-inputtext-sm w-20rem mt-5 ml-5 mb-5"
  [ngModel]="
    this.selectedDay + ' ' + this.selectedDuration + ' ' + this.selectedOption
  "
  value="this.selectedDay + ' ' + this.selectedDuration + ' ' + this.selectedOption"
/>
