<span class="flex flex-row">
  <sqd-designer theme="light"  [undoStackSize]="10" [definition]="definition" [toolboxConfiguration]="toolboxConfiguration"
  [stepsConfiguration]="stepsConfiguration" [validatorConfiguration]="validatorConfiguration" [controlBar]="true"
  [selectedStepId]="selectedStepId" [isReadonly]="isReadonly" [isToolboxCollapsed]="isToolboxCollapsed" 
  [isEditorCollapsed]="isEditorCollapsed" [areEditorsHidden]="false" [rootEditor]="rootEditor" [stepEditor]="stepEditor"
  (onReady)="onDesignerReady($event)" (onDefinitionChanged)="onDefinitionChanged($event)"
  (onSelectedStepIdChanged)="onSelectedStepIdChanged($event)"
  (onIsToolboxCollapsedChanged)="onIsToolboxCollapsedChanged($event)"
  (onIsEditorCollapsedChanged)="onIsEditorCollapsedChanged($event)">
</sqd-designer>

<span class="w-30rem">
  <div>Hello</div>
</span>

</span>

<ng-template #rootEditor let-editor>
  <!-- <h2>Root Editor</h2>

  <h3>Test Data</h3>
  <mat-form-field class="full-width">
    <input matInput type="number" [value]="editor.definition.properties.testData" [readonly]="editor.isReadonly"
      (input)="
        updateProperty(
          editor.definition.properties,
          'testData',
          $event,
          editor.context
        )
      " />
  </mat-form-field> -->
</ng-template>

<ng-template #stepEditor let-editor>
  <div>

    <p-dialog header="Set Configuration" [modal]="false" [(visible)]="visible" [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">


        <span class="p-float-label flex gap-2 flex-column">
          <label>Mail From</label>
          <input pInputText type="text" class="p-inputtext-sm w-20rem" [value]="editor.step.properties.mailFrom" [readonly]="editor.isReadonly"
            (input)="
        updateProperty(
          editor.step.properties,
          'mailFrom',
          $event,
          editor.context
        )
      " />
         
        </span>

        <span class="flex flex-column gap-2 mt-3">
          <label for="date">Scheduled date</label>
          <input appendTo="body" pInputText type="date" class="w-20rem" [value]="editor.step.properties.scheduledTime"  (input)="
          updateProperty(
            editor.step.properties,
            'scheduledTime',
            $event,
            editor.context
          )
        " />
        </span>

        <span class="flex flex-column gap-2 mt-2">
          <label for="">Template</label>
          <select class="w-20rem" pInputText optionLabel="name" [value]="editor.step.properties.emailTemplate" (input)="
          updateProperty(
            editor.step.properties,
            'emailTemplate',
            $event,
            editor.context
          )
        ">
            <option value="1">First Follow up</option>
            <option value="2">Second Follow up</option>
          </select>

        </span>
    </p-dialog>

    <h2>Mail Editor</h2>
    <!-- 
    <mat-tab-group>
      <mat-tab label="Details">
        <h3>Mail</h3>
        <h5>To Mail</h5>
        <mat-form-field class="full-width">
         
        </mat-form-field>
        <h5>Scheduled Time</h5>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            [value]="editor.step.properties.scheduled"
            [readonly]="editor.isReadonly"
            (input)="
              updateProperty(
                editor.step.properties,
                'scheduled',
                $event,
                editor.context
              )
            "
          />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group> -->
  </div>
  <!-- <div>
    <h2>Job Editor</h2>
    <mat-tab-group>
      <mat-tab label="Details">
        <h3>Job</h3>
        <mat-form-field class="full-width">
          <input matInput type="number" [value]="editor.step.properties.testData" [readonly]="editor.isReadonly"
            (input)="
              updateProperty(
                editor.step.properties,
                'testData',
                $event,
                editor.context
              )
            " />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div> -->
</ng-template>

<!-- <div class="block">
  <button mat-raised-button color="primary" (click)="reloadDefinitionClicked()">
    Reload definition
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleReadonlyClicked()">
    {{ isReadonly ? "Enable editing" : "Disable editing" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleSelectedStepClicked()">
    {{ selectedStepId ? "Unselect" : "Select first" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleToolboxClicked()">
    {{ isToolboxCollapsed ? "Show toolbox" : "Hide toolbox" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleEditorClicked()">
    {{ isEditorCollapsed ? "Show editor" : "Hide editor" }}
  </button>
  &nbsp; Is valid: <strong>{{ isValid }}</strong>
</div> -->

<div class="block">
  <mat-form-field class="full-width flex-1s">
    <textarea matInput cols="120" rows="16" readonly>{{
      definitionJSON
    }}</textarea>
  </mat-form-field>
</div>





<button (click)="toggleSelectedStepClicked1()">Toggle Selected Step</button>