<span class="flex flex-row">
  <sqd-designer theme="light" [undoStackSize]="10" [definition]="definition"
    [toolboxConfiguration]="toolboxConfiguration" [stepsConfiguration]="stepsConfiguration"
    [validatorConfiguration]="validatorConfiguration" [controlBar]="true" [selectedStepId]="selectedStepId"
    [isReadonly]="isReadonly" [isToolboxCollapsed]="isToolboxCollapsed" [isEditorCollapsed]="isEditorCollapsed"
    [areEditorsHidden]="false" [rootEditor]="rootEditor" [stepEditor]="stepEditor" (onReady)="onDesignerReady($event)"
    (onDefinitionChanged)="onDefinitionChanged($event)" (onSelectedStepIdChanged)="onSelectedStepIdChanged($event)"
    (onIsToolboxCollapsedChanged)="onIsToolboxCollapsedChanged($event)"
    (onIsEditorCollapsedChanged)="onIsEditorCollapsedChanged($event)" [keyboard]="false">
  </sqd-designer>

  <ng-template #rootEditor let-editor>
  
  </ng-template>

  <ng-template #stepEditor let-editor>
    <span class="config_modal">
      <p-dialog header="Set Configuration" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"
        [draggable]="false" (onHide)="toggleSelectedStepClicked()" (onShow)="reflectChanges()">
        <div class="flex flex-column gap-3">
          <span class="p-float-label w-full flex gap-2 flex-column">
            <label>Step Name</label>
            <input id="stepName" pInputText type="text" class="p-inputtext-sm w-full" [(ngModel)]="selectedStep.name"
              (blur)="
            updateStepName(
              editor,
              'name',
              $event,
              editor.context,
              true
            );
          " />
      </span>
        </div>
      <div class="flex flex-row gap-3 mt-4">
        <span class="p-float-label w-full flex gap-2 flex-column">
          <label>Email From</label>
          <input pInputText type="text" class="p-inputtext-sm w-full" [value]="editor.step.properties.FromEmail"
            [readonly]="editor.isReadonly" (input)="
            updateProperty(
              editor.step.properties,
              'FromEmail',
              $event,
              editor.context
            )
          " />
        </span>
        <span class="p-float-label w-full flex gap-2 flex-column">
          <label>Email To</label>
          <input pInputText type="text" class="p-inputtext-sm w-full" [value]="editor.step.properties.ToEmail"
            [readonly]="editor.isReadonly" (input)="
            updateProperty(
              editor.step.properties,
              'ToEmail',
              $event,
              editor.context
            )
          " />
        </span>
      </div>
      <div class="flex flex-row gap-3 mt-2">
        <span class="flex flex-column gap-2 w-full">
          <label>Cc</label>
          <input pInputText type="text" class="p-inputtext-sm w-full" [value]="editor.step.properties.CcEmail"
            [readonly]="editor.isReadonly" (input)="
            updateProperty(
              editor.step.properties,
              'CcEmail',
              $event,
              editor.context
            )
          " />
        </span>
        <div class="flex flex-column gap-2 w-full">
          <label>Bcc</label>
            <input pInputText type="text" class="p-inputtext-sm w-full" [value]="editor.step.properties.BccEmail"
              [readonly]="editor.isReadonly" (input)="
              updateProperty(
                editor.step.properties,
                'BccEmail',
                $event,
                editor.context
              )
            " />
        </div>
      </div>
      

      <div class="flex flex-row gap-3 mt-4">
        <span class="flex w-full flex-column">
          <span class="flex w-full flex-column gap-2">
          <label for="date">Email trigger schedule</label>
          <input appendTo="body" pInputText type="text" class="p-inputtext-sm w-full" [readOnly]="true"
            [value]="editor.step.properties.ScheduledTime" (input)="
            updateProperty(
              editor.step.properties,
              'ScheduledTime',
              $event,
              editor.contextF
            )
          " /></span>
           <div class="flex flex-column align-items-center">
            <div
              style="border: 1px #CED4DA solid;border-top: 0% !important;background-color: #ffffff;width: 100%;border-radius: 5px;">
              <div class="flex flex-row justify-content-center gap-3 scroll_value">
                <span class="w-5rem flex flex-column text-center">
                  <div class="pt-2">Days</div>
                  <ng-scroll-picker [style]="{'margin':'.5em 0em'}" [data]="data"
                    (change)="dayschange($event)"></ng-scroll-picker>
                </span>
                <span class="w-5rem flex flex-column text-center">
                  <div class="pt-2">Hours</div>
                  <ng-scroll-picker [style]="{'margin':'.5em 0em'}" [data]="hours"
                    (change)="hourschange($event)"></ng-scroll-picker>
                </span>
                <span class="w-10rem flex flex-column text-center">
                  <div class="pt-2">Based On</div>
                  <ng-scroll-picker [style]="{'margin':'.5em 0em'}" [data]="basedon"
                    (change)="basedonchange($event)"></ng-scroll-picker>
                </span>
              </div>
            </div>
          </div>
        </span>

        <div class="w-full gap-2" [ngClass]="toggle ? 'hidden ':'flex flex-column'">
          <label for="">Template</label>
          <select class="p-inputtext-sm w-full" pInputText optionLabel="name"
            [value]="editor.step.properties.MailTemplateId" (input)="
          updateProperty(
            editor.step.properties,
            'MailTemplateId',
            $event,
            editor.context
          )
        ">
            <option value="1">First Follow up</option>
            <option value="2">Second Follow up</option>
          </select>
        </div>
      </div>
      <div class="flex flex-row gap-3 mt-4">
        <div class="flex flex-row gap-2 w-full">
          <label>Attach Invoice PDF?</label>{{print}}
            <input  type="checkbox" class="" [checked]="editor.step.properties.IsAttachInvoicePdf"
              [readonly]="editor.isReadonly" (change)="
              updateProperty(
                editor.step.properties,
                'IsAttachInvoicePdf',
                $event,
                editor.context
              )
            " />
        </div>
        <div class="flex flex-row gap-2 w-full">
          <label>Attach Invoice Documents?</label>
            <input  type="checkbox" class="" [checked]="editor.step.properties.IsAttachInvoiceDocuments"
              [readonly]="editor.isReadonly" (input)="
              updateProperty(
                editor.step.properties,
                'IsAttachInvoiceDocuments',
                $event,
                editor.context
              )
            " />
        </div>
      </div>
      <div class="container" [hidden]="!toggle">
        <div class="text-black p-3" draggable="true" (dragstart)="onDragStart($event, '#Customer_Name#')">
          #Customer_Name#
        </div>
        <div class="text-black p-3" draggable="true" (dragstart)="onDragStart($event, '#Invoice_Number#')">
          #Invoice_Number#
        </div>
        <div class="text-black p-3" draggable="true" (dragstart)="onDragStart($event, '#Balance_Amount#')">
          #Balance_Amount#
        </div>
        <h4>Custom Template Editor</h4>
        <angular-editor [config]="config" (focus)="onEditorFocus($event)"
          (blur)="onEditorBlur($event)"></angular-editor>
      </div>
      </p-dialog>
    </span>

    <!-- 
    <mat-tab-group>
      <mat-tab label="Details">
        <h3>Mail</h3>
        <h5>To Mail</h5>
        <mat-form-field class="full-width">
         
        </mat-form-field>
        <h5>Scheduled Time</h5>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            [value]="editor.step.properties.scheduled"
            [readonly]="editor.isReadonly"
            (input)="
              updateProperty(
                editor.step.properties,
                'scheduled',
                $event,
                editor.context
              )
            "
          />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group> -->
    <!-- <div>
    <h2>Job Editor</h2>
    <mat-tab-group>
      <mat-tab label="Details">
        <h3>Job</h3>
        <mat-form-field class="full-width">
          <input matInput type="number" [value]="editor.step.properties.testData" [readonly]="editor.isReadonly"
            (input)="
              updateProperty(
                editor.step.properties,
                'testData',
                $event,
                editor.context
              )
            " />
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div> -->
  </ng-template>

  <!-- <div class="block">
  <button mat-raised-button color="primary" (click)="reloadDefinitionClicked()">
    Reload definition
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleReadonlyClicked()">
    {{ isReadonly ? "Enable editing" : "Disable editing" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleSelectedStepClicked()">
    {{ selectedStepId ? "Unselect" : "Select first" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleToolboxClicked()">
    {{ isToolboxCollapsed ? "Show toolbox" : "Hide toolbox" }}
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="toggleEditorClicked()">
    {{ isEditorCollapsed ? "Show editor" : "Hide editor" }}
  </button>
  &nbsp; Is valid: <strong>{{ isValid }}</strong>
</div> -->
</span>

<div class="block">
  <mat-form-field class="full-width flex-1s">
    <textarea matInput cols="120" rows="16" readonly>{{
      definitionJSON
    }}</textarea>
  </mat-form-field>
</div>
<!-- <p-dialog [visible]="true">
  <span class="">
   
  </span>
</p-dialog> -->