@import '/node_modules/primeflex/primeflex.css';
@import "primeicons/primeicons.css";

body,
input,
textarea,
button {
	font:
		13px/1.3em Arial,
		Verdana,
		Serif;
}
body {
	margin: 0;
	padding: 0;
}
a {
	color: #2c18df;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.full-width {
	width: 100%;
}
textarea {
	font-size: 9pt !important;
	line-height: 1.2em !important;
}

.sqd-designer-angular {
	width: 100vw;
	height: 80vh;
}
.sqd-editor {
	padding: 10px;
}

.block {
	text-align: center;
	margin: 10px;
}

.flow_chart .p-timeline.p-timeline-vertical .p-timeline-event-connector {
    width: 1px;
  }
  
  
  .flow_chart .p-timeline-event:first-child .p-timeline-event-separator .p-timeline-event-connector {
    background-color: #7EC607 !important;
  }
  
  .flow_chart .p-timeline-event:nth-child(2) .p-timeline-event-separator .p-timeline-event-connector {
    background-color: #7EC607 !important;
  }
  
  .flow_chart .p-timeline-event:nth-child(3) .p-timeline-event-separator .p-timeline-event-connector {
    background-color: #E9573E !important;
  }
   
  
   .flow_chart .p-timeline-event:nth-child(4) .p-timeline-event-separator .p-timeline-event-connector,.flow_chart .p-timeline-event:nth-child(5) .p-timeline-event-separator .p-timeline-event-connector {
    background-color: #8E8F8E !important;
  }
  
  .p-tabview-nav-content .p-tabview-nav .ng-star-inserted:nth-child(5) {
    margin-left: auto !important;
  }
  
  .demo_green{
    background-color: #7EC607 !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }
  
  .demo_green span{
    cursor: pointer !important;
  }
  
  
  .demo_red{
    background-color: #E9573E !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }
  
  .demo_red span{
    cursor: pointer !important;
  }
  
  .demo_gray{
    background-color: #8E8F8E !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }
  
  .demo_gray span{
    cursor: pointer !important;
  }
  
  
  .p-overlaypanel.p-overlaypanel-flipped:before{
    border-top-color: #e4e4e4 !important;
  }

  .sqd-theme-light .sqd-smart-editor{
	background: transparent !important;
	box-shadow: none !important;
  }
  .sqd-theme-light .sqd-smart-editor-toggle{
	display: none !important;
  }
  .sqd-layout-desktop .sqd-smart-editor{
	width: 0vw !important;
  }

  .sqd-theme-light .sqd-step-task .sqd-step-task-rect{
    fill: red;
  }